body.dwpb-push-page{position:relative;top:0;transition:top .5s}body.dwpb-push-page.dwpb-open{top:43px}body.dwpb-push-page.dwpb-open #dwpb{top:0px !important}.dwpb-twenty-fourteen .site-header{transition:top .5s}body.dwpb-push-page.admin-bar #wpadminbar{transition:top .5s}@media (max-width:599px){body.dwpb-push-page.admin-bar #wpadminbar{top:-46px !important}}body.dwpb-push-page.admin-bar.dwpb-open #wpadminbar{top:43px}body.dwpb-cover-page.dwpb-open #dwpb{top:0 !important}body.dwpb-allow-close .dwpb-close{background-color:transparent;color:transparent;transition:color .5s .3s}body.dwpb-allow-close.dwpb-open .dwpb-close{color:#fff}#dwpb{background:#f7682c;position:fixed;left:0;top:-43px;width:100%;color:#fff;z-index:-1;padding:5px 50px;text-align:center;border-bottom:3px solid #fff;font-size:16px;line-height:30px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;box-sizing:border-box;transition:.5s}.dwpb-open #dwpb{z-index:999999}#dwpb .hide{display:none}#dwpb.ramain-top{position:absolute}#dwpb a{color:#fff;display:inline-block;text-decoration:underline}.dwpb-button{background:#333;border-radius:50px;padding:0 20px;margin:0 10px;text-decoration:none !important}.dwpb-content,.dwpbcd-content{display:inline-block}@media (max-width:767px){.dwpb-content,.dwpbcd-content{display:block}}.dwpb-inner{margin:0 auto}.dwpb-inner{overflow:hidden}.dwpb-counter{display:inline-block;color:#fff;vertical-align:bottom;margin-right:10px}.dwpb-counter .countDays,.dwpb-counter .countHours,.dwpb-counter .countMinutes,.dwpb-counter .countSeconds{display:block;float:left;position:relative;text-align:center;background:rgba(255,255,255,0.2);border-radius:2px;padding:7px 5px}.dwpb-counter .countDays .position,.dwpb-counter .countHours .position,.dwpb-counter .countMinutes .position,.dwpb-counter .countSeconds .position{overflow:hidden;display:inline-block;position:relative;z-index:1;line-height:1;float:left}.dwpb-counter .countDays .digit,.dwpb-counter .countHours .digit,.dwpb-counter .countMinutes .digit,.dwpb-counter .countSeconds .digit{opacity:1 !important;text-align:center;margin-left:1px}.dwpb-counter .countDays .digit:first-child+.digit,.dwpb-counter .countHours .digit:first-child+.digit,.dwpb-counter .countMinutes .digit:first-child+.digit,.dwpb-counter .countSeconds .digit:first-child+.digit{display:none}.dwpb-counter .countDays .digit.static,.dwpb-counter .countHours .digit.static,.dwpb-counter .countMinutes .digit.static,.dwpb-counter .countSeconds .digit.static{display:block}.dwpb-counter .countDays .boxName,.dwpb-counter .countHours .boxName,.dwpb-counter .countMinutes .boxName,.dwpb-counter .countSeconds .boxName{display:inline-block;margin-left:1px;position:relative;z-index:1;float:left;line-height:1}.dwpb-counter .countDays,.dwpb-counter .countHours,.dwpb-counter .countMinutes{margin-right:2px}.dwpb-action,.dwpb-close{position:fixed;background:#f7682c;right:10px;top:0;text-align:center;height:30px;width:30px;border-radius:0 0 2px 2px;z-index:999999;cursor:pointer;color:#fff;transition:.5s}.dwpb-action:before,.dwpb-close:before{font-size:18px;line-height:30px;font-family:"dashicons";content:"\f347"}.dwpb-open .dwpb-action,.dwpb-open .dwpb-close{top:5px;border-radius:50%;background:transparent !important}.dwpb-open .dwpb-action:before,.dwpb-open .dwpb-close:before{content:'\f343'}.dwpb-ramain-top .dwpb-action,.dwpb-ramain-top .dwpb-close{position:absolute}.dwpb-close:before{content:"\f335" !important}@media (max-width:767px){.dwpb_responsive_extra_small.dwpb-push-page{top:0 !important}.dwpb_responsive_extra_small.dwpb-push-page #wpadminbar{top:0 !important}.dwpb_responsive_extra_small #dwpb,.dwpb_responsive_extra_small .dwpb-close,.dwpb_responsive_extra_small .dwpb-action{display:none !important}}@media (min-width:768px) and (max-width:991px){.dwpb_responsive_small.dwpb-push-page{top:0 !important}.dwpb_responsive_small.dwpb-push-page #wpadminbar{top:0 !important}.dwpb_responsive_small #dwpb,.dwpb_responsive_small .dwpb-close,.dwpb_responsive_small .dwpb-action{display:none !important}}@media (min-width:992px) and (max-width:1199px){.dwpb_responsive_medium.dwpb-push-page{top:0 !important}.dwpb_responsive_medium.dwpb-push-page #wpadminbar{top:0 !important}.dwpb_responsive_medium #dwpb,.dwpb_responsive_medium .dwpb-close,.dwpb_responsive_medium .dwpb-action{display:none !important}}@media (min-width:1200px){.dwpb_responsive_large.dwpb-push-page{top:0 !important}.dwpb_responsive_large.dwpb-push-page #wpadminbar{top:0 !important}.dwpb_responsive_large #dwpb,.dwpb_responsive_large .dwpb-close,.dwpb_responsive_large .dwpb-action{display:none !important}}


.dwpb-subs-button{
	background:#333;
	border-radius:2px;
	padding:2px 12px  2px 12px !important;
	margin:0px 10px;
	text-decoration:none !important;
	height:28px !important;
	text-transform: capitalize !important;
}

.dwpb-subs-button-other{
	background:#333;
	border-radius:2px;
	padding:2px 12px  2px 12px !important;
	margin:0px 10px;
	text-decoration:none !important;
	height:32px !important;
	text-transform: capitalize !important;
}


#popupClose{
	right:10px;
	top:10px;
	float:right;
	cursor:pointer;
	}

#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:5; width:100%; height:100%; 
padding:18%  10%; } - See more at: http://www.corelangs.com/css/box/fulloverlay.html#sthash.7QvCq6aj.dpuf


#popup {
	height:auto;
	width:50%;
	position:fixed;
	top:35%;
	right:0;
	left:0;
	z-index:10;
	margin:0 auto;
	padding:50%;
	background:#FFF;
	border-radius:2px;
	border-bottom:4px solid;
	text-align:center;
	
}

#slider {
	height:auto;
	width:40%;
	position:fixed;
	bottom:10px;
	right:10px;

	padding:6px;
	background:#FFF;
	border-radius:2px;
	border-bottom:4px solid;
	text-align:center;
}

#slider  #sliderClose{
	right:0px !important;
	top:0px !important;
	float:right;
	cursor:pointer;
}

#takeover {
	position:fixed;
	bottom:2%;
	right:2%;
	left:2%;
	top:4%;
	padding:18% 1% 1% 1% ;
	background:#FFF;
	border-radius:2px;
	border-bottom:4px solid;
	text-align:center;
}

